<div id="container">
  <div id="header"></div>
    <div id="content" class="right-one">
      <div style="float:left;">
        <div>
          <%= image_tag("DSC_3689.jpg", height: "400px", width: "auto") %>
          <div style="display:inline-block; vertical-align: top;">
            <h3>
              For booking and label inquiries:<br /> <br />  
              thedaylightdistrict@gmail.com<br /><br /><br /><br />
              <%= link_to image_tag("find_us_on_facebook.png", height: "auto", width: "250px"), " http:// www.facebook.com/maxnedved", :target => "blank" %>
            </h3>
          </div>
        </div>
      </div>
    </div>
  <div id="push"></div>
</div>

<div id="footer">
  <div id="links" class="center text">
    <%= render "bottom" %>
    <div style="display: inline-block; margin-right:-300px;">
      <%= render "social_links" %>
    </div>
  </div>
  <%= render 'footer' %>
</div>