<table>
  <tr>
    <td width="50%">
    </td>
    <td colspan="2" class="center white-background">
       <h1>The Daylight District EP</h1>
       <h3>now available on all major digital distributors</h3>
    </td>
  </tr>
  <tr>
    <td colspan="1" valign="bottom" class="center">
      <span class="white-background">
        <h3 style="margin-bottom:0px;">Find the album at:</h3>
        <%= link_to image_tag("itunes-logo1.jpg", size:'200x70'), "https://itunes.apple.com/us/artist/the-daylight-district/id734694744?uo=4", :target => "blank" %>
        <%= link_to image_tag("Amazon-MP3.png", size:'200x85'), "http://www.amazon.com/s/ref=ntt_srch_drd_B00GAXUS26?ie=UTF8&field-keywords=The%20Daylight%20District&index=digital-music&search-type=ss", :target => "blank", style:"margin-bottom:-100px;" %>
      </span>
    </td>
    <td class="center">
      <%= link_to "http://www.amazon.com/s/ref=ntt_srch_drd_B00GAXUS26?ie=UTF8&field-keywords=The%20Daylight%20District&index=digital-music&search-type=ss" do %>
        <%= image_tag("Attachment-2.jpg", size:'400x400') %>
      <% end %>
    </td>
  </tr>
</table>

<%= render 'footer' %>

<script type="text/javascript">
  $('.home, img').fadeIn(700);
</script>