<div id="container" style="height:90%; margin-bottom:85px;">
      <div id="content" class="box transparent center" style="width:75%;">
      <div id="slider">
        <%= image_tag("daylight_1.jpg") %>
        <%= image_tag("daylight_2.jpg") %>
        <%= image_tag("daylight_3.jpg") %>
        <%= image_tag("daylight_4.jpg") %>
        <%= image_tag("daylight_5.jpg") %>
        <%= image_tag("daylight_6.jpg") %>
        <%= image_tag("daylight_7.jpg") %>
        <%= image_tag("daylight_8.jpg") %>
        <%= image_tag("daylight_9.jpg") %>
        <%= image_tag("daylight_10.jpg") %>
      </div>
  </div>
  <div id="push"></div>
</div>

<div id="footer">
  <div id="links" class="center text">
    <%= render "bottom" %>
  </div>
  <%= render 'footer' %>
</div>
  
  
<script type="text/javascript">
  $('.box').fadeIn(500);
  $('#slider img').fadeIn(750);
  $('#slider').owlCarousel({
    singleItem: true,
    navigation: true
  });
</script>

