<div id="container">
  <div id="header"></div>
  <div id="content" class="box transparent text">
  <h2 class="center"> Fotografias </h2>
    <table>
      <tr style="text-decoration:underline" class="center">
        <td><%= image_tag("daylight_1.jpg", :height => "150px", :width => "180px") %></td>
        <td><%= image_tag("daylight_2.jpg", :height => "180px", :width => "150px") %></td>
        <td><%= image_tag("daylight_3.jpg", :height => "180px", :width => "150px") %></td>
      </tr>
    </table>
  </div>
  <div id="push"></div>
</div>

<div id="footer">
  <div id="links" class="center text">
    <%= render "bottom" %>
  </div>
  <%= render 'footer' %>
</div>