<div id="container">
  <div id="header"></div>
  <div id="content" class="box transparent text">
  <h2 class="center"> Fotografias </h2>
    <table>
      <tr style="text-decoration:underline" class="center">
        <td><%= image_tag("daylight_1.jpg", :height => "150px", :width => "180px") %></td>
        <td><%= image_tag("daylight_2.jpg", :height => "180px", :width => "150px") %></td>
        <td><%= image_tag("daylight_3.jpg", :height => "180px", :width => "150px") %></td>
      </tr>
    </table>
  </div>
  <div id="push"></div>
</div>

<div id="footer">
  <div id="links" class="center text">
    <%= link_to "Home", root_path %> &nbsp; | &nbsp;
    <%= link_to "Latest", latest_path %> &nbsp; | &nbsp;
    <%= link_to "Releases", releases_path %> &nbsp; | &nbsp;
    <%= link_to "Tour", tour_path %> &nbsp; | &nbsp;
    <%= link_to "Photos", photos_path %> &nbsp; | &nbsp;
    <%= link_to "Contact", contact_path %> 
    &nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to image_tag("facebook_smash.png", size: "25x25"), "http://www.facebook.com/maxnedved", :target => '_blank' %>
    <%= link_to image_tag("Twitter_Icon.png", size: "25x25"), "http://www.twitter.com/maxnedved", :target => '_blank' %>
    <%= link_to image_tag("SoundCloud_logo.png", size: "35x25"), "http://www.soundcloud.com/thedaylightdistrict", :target => '_blank' %>
  </div>
  <%= render 'footer' %>
</div>