<div id="container">
  <div id="header"></div>
    <h3 class="right-five">Photos</h3>
    <div id="content" class="right-one">
      <%= image_tag("daylight_1.jpg", :height => "150px", :width => "180px") %>
      <%= image_tag("daylight_2.jpg", :height => "180px", :width => "150px") %>
      <%= image_tag("daylight_3.jpg", :height => "180px", :width => "150px") %>
  </div>
  <div id="push"></div>
</div>

<div id="footer">
  <div id="links" class="center text">
    <%= render "bottom" %>
  </div>
  <%= render 'footer' %>
</div>

