<div id="container">
  <div id="header"></div>
  <div id="content releases" class="box transparent text" style="width:75%;">
    <h2>The Daylight District EP Lyrics</h2>
      <div class="center">
        <div class="third " style="float:left;"><%= render 'adeline' %></div>
        <div class="third" style="float:left;"><%= render 'the_sirens_den' %></div>
        <div class="third" style="float:left;"><%= render 'sister_gemini' %></div>
      </div>
  </div>
  <div id="push"></div>
</div>

<div id="footer">
  <div id="links" class="center text">
    <%= render "bottom" %>
  </div>
  <%= render 'footer' %>
</div>

  <script type="text/javascript">
    $('.box').fadeIn(750);
    $('.lyrics').hide();
    $('h2').css('cursor', 'pointer');

    $('.adeline').on('click', function() {
      $('.ad').fadeIn(500);
      $('.siren').fadeOut(500);
      return $('.sister').fadeOut(500);
    });

    $('.sis').on('click', function() {
      $('.ad').fadeOut(500);
      $('.siren').fadeOut(500);
      return $('.sister').fadeIn(500);
    });

    $('.den').on('click', function() {
      $('.ad').fadeOut(500);
      $('.siren').fadeIn(500);
      return $('.sister').fadeOut(500);
    });
   </script>