<div id="container">
  <div id="header"></div>
  <div id="content releases" class="box transparent text" style="width:65%;">
    <h2>New Releases</h2>
      <div class="center">
        <div class="third" style="float:left;"><%= render 'adeline' %></div>
        <div class="third" style="float:left;"><%= render 'the_sirens_den' %></div>
        <div class="third" style="float:left;"><%= render 'sister_gemini' %></div>
      </div>
  </div>
  <div id="push"></div>
</div>

<div id="footer">
  <div id="links" class="center text">
    <%= render "bottom" %>
  </div>
  <%= render 'footer' %>
</div>