<div id="container">
  <div id="header"></div>
  <div id="content" class="box transparent text">
    <h2>*** Tour ***</h2><br />
    <h2>(Coming Soon)</h3>
    <table>
      <tr style="text-decoration:underline ">
        <td>Date</td>
        <td>City</td>
        <td>Venue</td>
        <td>Time</td>
        <td>Tickets</td>
      </tr>
      <tr></tr>
      <tr></tr>
       <tr>
        <td>11/01/2013</td>
        <td>Chicago</td>
        <td>Lucky's Bar <%= link_to "(map)", "http://maps.google.com", :target => '_blank' %> </td>
        <td>9pm</td>
        <td>Tickets</td>
      </tr>
      <tr></tr>
       <tr>
        <td>11/14/2013</td>
        <td>Chicago</td>
        <td>Rainbow Club <%= link_to "(map)", "http://maps.google.com", :target => '_blank' %></td>
        <td>9pm</td>
        <td>Tickets</td>
      </tr>
      <tr></tr>
       <tr>
        <td>12/01/2013</td>
        <td>Chicago</td>
        <td>Rainbow Club (again) <%= link_to "(map)", "http://maps.google.com", :target => '_blank' %></td>
        <td>9pm</td>
        <td>Tickets</td>
      </tr>
      <tr></tr>
       <tr>
        <td>12/14/2013</td>
        <td>Chicago</td>
        <td>Gay Bar <%= link_to "(map)", "http://maps.google.com", :target => '_blank' %></td>
        <td>9pm</td>
        <td>Tickets</td>
      </tr>
      <tr></tr>
    </table>
  </div>
  <div id="push"></div>
</div>

<div id="footer">
  <div id="links" class="center text">
    <%= render "bottom" %>
  </div>
  <%= render 'footer' %>
</div>

<script type="text/javascript">
  $('.box').fadeIn(500);
  $('table').hide();
</script>